.create-page {
  background: var(--background);
  height: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.symbol-label {
  font-size: 2rem;
  font-weight: 600;
  padding-inline: 1rem 0.6rem;
}

.x-symbol {
  color: var(--x-symbol-color);
}

.o-symbol {
  color: var(--o-symbol-color);
}

label {
  display: block;
  padding-left: 20px;
  margin-bottom: 0.5rem;
}

.title {
  margin: 0 auto;
}

.rooms-list {
  padding: 0.5rem;
  border-radius: 20px;
  background: var(--divs-background);
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 300px;
  overflow-y: auto;
}

.noRooms {
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  color: var(--placeholder);
}

.room {
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.room span {
  display: block;
  transition: all 0.3s ease-in-out;
}

.room:not(:last-child) {
  border-bottom: 1px solid var(--placeholder);
}

.room:hover span {
  transform: translateX(5px);
}
