.create-page {
  background: var(--background);
  height: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submit-button {
  font-weight: 600;
  display: block;
  margin: 1.5rem auto;
  background: var(--submit-gradient);
}

.submit-button:hover {
  box-shadow: var(--submit-shadow);
  transform: translateY(-2px);
}

input {
  padding: 1.2rem;
  border-radius: 30px;
  border: none;
  outline: none;
  background: var(--divs-background);
  color: var(--foreground);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

input::placeholder {
  color: var(--placeholder);
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input-container-local {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.input-container-local input {
  flex: 1;
}

.input-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.input-button-wrapper button {
  padding: 1.2rem;
  height: 100%;
  font-size: 1rem;
  margin: 0;
}

.symbol-label {
  font-size: 2rem;
  font-weight: 600;
  padding-inline: 1rem 0.6rem;
}

.x-symbol {
  color: var(--x-symbol-color);
}

.o-symbol {
  color: var(--o-symbol-color);
}

label {
  display: block;
  padding-left: 20px;
  margin-bottom: 0.5rem;
}

.title {
  margin: 0 auto;
}

.rooms-list {
  padding: 0.5rem;
  border-radius: 20px;
  background: var(--divs-background);
  color: var(--foreground);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 300px;
  overflow-y: auto;
}

.noRooms {
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  color: var(--placeholder);
}

.room {
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.room span {
  display: block;
  transition: all 0.3s ease-in-out;
}

.room:not(:last-child) {
  border-bottom: 1px solid var(--placeholder);
}

.room:hover span {
  transform: translateX(5px);
}
