.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameCardsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.gameCardLink {
  border-radius: 30px;
}

.gameCardLink:active {
  scale: 1.01;
  box-shadow: var(--box-shadow);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .gameCardLink:hover {
    scale: 1.02;
    box-shadow: var(--box-shadow);
  }
}
